@import "tailwindcss";
@import "@heroui/styles";

@keyframes foodFloat {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-foodFloat {
  animation: foodFloat 8s ease-in-out infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 25s linear infinite;
}
